
*.exe
*.pdb
*.sdf
*.log
pyr.log.*
Analysis/Racing/obj/
Analysis/Racing/bin/
Analysis/Analysis/bin/
Analysis/Analysis/obj/
AnalysisTool/x64/
AnalysisTool/ipch/
AnalysisTool/AnalysisTool/x64/
AnalysisTool/AnalysisTool.sdf
winc/sharedlib/Debug/
winc/ipch/
winc/Main/ipch
winc/debug
winc/.vs
winc/AlgorithmApp/debug
algorithms/.vs
algorithms/algorithms/x64
algorithms/algorithms/x64/Debug
algorithms/Debug
algorithms/x64
algorithms/algorithms/Debug
server/plib/.vs
server/plib/x64
server/plib/Debug
server/commlib2a/.vs
server/commlib2a/x64
server/commlib2a/Debug
server/commlib2a/commmessage/Debug
server/commextlib/.vs
server/commextlib/x64
server/commextlib/Debug
server/securitytools/Generic/.vs
server/securitytools/Generic/Debug
server/PDServer/.vc
server/PDServer/x64
server/PDServer/Debug
server/colossus/ColTCADbm/Debug
server/colossus/ColTCADbm/Release
server/colossus/ColTCADbm/x64
server/colossus/CCDA/Debug
server/colossus/CCDA/Release